<!DOCTYPE html>
<html>
<head>
	<title>IS219 Gallery (Project 3)</title>

	<!-- Our CSS File along with Boostrap Styles, and FontAwesome Styles-->
	<link rel="stylesheet" type='text/css' href="css/style.css"/>
	<link rel="stylesheet" type='text/css' href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" type='text/css' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>


	<!-- DO NOT CHANGE ANYTHING ABOVE THIS LINE-->

	<!-- Angular (ADD HERE) -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>

	
</head>

  <body ng-app="IS219Gallery">
	  
    <div class="header">
	    
      <div class="container" ng-controller="HomeController">
        <h1 id="app_title">{{ title }}</h1>
      </div>

    <div class="main">
      
      <div class="container" ng-controller="HomeController" >

        <div class="col-md-6"> 
            <div class="thumbnail" ng-repeat="m in movies">

					<img class="poster"/ > 
					<div class="imageInfo" >{{ m.posterindex }}</div>
					
					<p class="title" >{{ m.title }} ({{ m.country }})</p> 
					<p class="score"><i class="fa fa-star" aria-hidden="true"></i> %iscore% </p>
					<p class="runtime" >Runtime: {{timeText(m.runtime)}} </p> 
					<p class="released">Released: {{m.movies.title}} | Rated: {{m.rating}}</p>
					<p class="websites" >Websites: <a ng-href="{{m.imdb}}">IMDB</a> | <a ng-href="{{m.website}}">Official</a></p>
					
		            <div class="social">
		              <p class="likes" ng-click="like($index)"><i class="fa fa-thumbs-up"></i> {{ m.likes }}</p>
		              <p class="dislikes" ng-click="dislike($index)"><i class="fa fa-thumbs-down" aria-hidden="true"></i> {{m.dislikes}}</p>
		            </div>
            </div> 
        </div>

      </div>
    </div>

    <div class="footer">
      <div class="container" ng-controller="HomeController">
		<a id="github" class="btn btn-lg btn-warning" ng-href="{{ github }}" >
			<i class="fa fa-lg fa-github pull-left" aria-hidden="true"></i> 
			{{owner}} 
  		</a>
      </div>
    </div>

  

  	<!-- Modules -->
	<script type="text/javascript" src="js/app.js"></script>
	 
	<!-- Controllers -->
	<script type="text/javascript" src="js/controllers/HomeController.js"></script>
	<script type="text/javascript" src="js/controllers/ExtraController.js"></script>
	 
	<!-- Services -->
  
</body>
</html>
